
@page "/PR/Index"
@inject HttpClient httpClient
@inject DialogService DialogService
@inject NotificationService NotificationService
@using IMS.Shared.Models


<style>
    a:link {
        text-decoration: none;
    }
</style>

<div class="col-md-12 col-lg-12 mb-3">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Icon="home" Path="/" Text="Home" />
            <RadzenBreadCrumbItem Icon="settings" Path="/" Text="Purchase Request" />
            <RadzenBreadCrumbItem Icon="settings" Path="/PR/Index" Text="Index" />
        </RadzenBreadCrumb>
    </RadzenCard>
</div>

<div class="col-md-12 col-lg-12">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenButton Icon="add" Text="New Purchase Request" Click=@AddPR />
                <RadzenTextBox Placeholder="Search..." @oninput="@(args => OnSearch(args.Value.ToString()))" />
            </RadzenStack>
            <RadzenRow>
                <RadzenDataGrid @ref="grid" GridLines="DataGridGridLines.Both" AllowColumnResize="true" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Right" PagerPosition="PagerPosition.Bottom"
                                Data="@filteredPR" TItem="PRModel" 
                                SelectionMode="DataGridSelectionMode.Multiple" AllowRowSelectOnRowClick="false" @bind-Value="@selectedItems">

                    <Columns>
                       
                        <RadzenDataGridColumn TItem="PRModel" Property="projectname" Title="Project Title" Frozen="false" >
                            <Template Context="data">
                                <div><a href="/purchaserequest/details?prid=@data.Id">@data.projectname</a></div>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="PRModel" Property="geodata.address" Title="Location" Width="700px" />
                        <RadzenDataGridColumn TItem="PRModel" Property="amount" Title="Amount" Width="170px">
                            <Template Context="detail">
                                <div style="text-align: right; font-size: 15px">
                                    @String.Format("{0:n2}", detail.amount)
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="PRModel" Filterable="false" Width="80px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                            <Template Context="data">
                                 <div style="margin-left: -5px">
                                    <RadzenButton Click="@(() => RemovePR(data.Id))" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Small" />
                                </div>
                            </Template>
                        </RadzenDataGridColumn>


                    </Columns>
                </RadzenDataGrid>
            </RadzenRow>
            @* <RadzenRow JustifyContent="JustifyContent.Right">
                <RadzenButton Icon="delete" Text="Delete" ButtonStyle="ButtonStyle.Danger" />
            </RadzenRow> *@

        </RadzenStack>
    </RadzenCard>
</div>