
@page "/PurchaseRequest/Details"
@inject HttpClient httpClient
@inject DialogService DialogService
@using IMS.Shared.Models
@inject NotificationService NotificationService
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

@{
    if (!projectview)
    {
        <div class="col-md-12 col-lg-12 mb-3" style="width:100%">
            <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Icon="home" Text="Home" />
                    <RadzenBreadCrumbItem Icon="settings" Text="Purchase Request" />
                    <RadzenBreadCrumbItem Icon="settings" Text="Details" />
                </RadzenBreadCrumb>
            </RadzenCard>
        </div>
    }
}

@{
    if (pr != null)
    {
        
        <div class="col-md-12 col-lg-12">
            <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white col-md-12 col-lg-12 p-4" >
                <RadzenRow Orientation="Orientation.Horizontal">
                    @{
                        if (projectview)
                        {
                            <RadzenColumn Size="1" Style="flex-basis: 25px !important">
                                <RadzenButton Icon="arrow_back_ios_new" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Small" Click="@ButtonBackClick"/>
                            </RadzenColumn>
                        }
                    }
                   
                    <RadzenColumn>
                        <RadzenText class="mb-3"><h5>Purchase Request Details</h5></RadzenText>
                    </RadzenColumn>


                </RadzenRow>
                <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                        <RadzenCard Variant="Variant.Outlined" class="col-md-6 p-4">

                            <RadzenRow AlignItems="AlignItems.Start" Style="width:100%" class="mb-2">
                                <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                                    <RadzenLabel Text="PR No." />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                                    <RadzenTextBox style="width:100%" value="@pr.transactionno" />

                                </RadzenColumn>
                            </RadzenRow>
                            @{
                                if (pr.workitemid != "")
                                {
                                    <RadzenRow AlignItems="AlignItems.Start" Style="width:100%" class="mb-2">
                                        <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                                            <RadzenLabel Text="Work Item" />
                                        </RadzenColumn>
                                        <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                                            <RadzenTextBox style="width:100%" value="@pr.workitem" />

                                        </RadzenColumn>
                                    </RadzenRow>
                                }
                            }
                            
                            <RadzenRow AlignItems="AlignItems.Start" Style="width:100%;" class="mb-2">
                                <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                                    <RadzenLabel Text="Date" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                                    <RadzenTextBox style="width:100%" value="@string.Format("{0:MMMM dd, yyyy}", pr.dateprepared)" />
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow AlignItems="AlignItems.Start" Style="width:100%;" class="mb-2">
                                <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                                    <RadzenLabel Text="Total Amount" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                                    <RadzenTextBox style="width:100%" value="@string.Format("₱ {0:n2}", pr.amount)" />
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow AlignItems="AlignItems.Start" Style="width:100%;">
                                <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                                    <RadzenLabel Text="" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                                    @{
                                        if (pr.submitted != 1)
                                        {
                                            <RadzenButton Icon="arrow_outward" Text="Submit" Click="@(() => SubmitPR(pr.Id))"/>
                                        }
                                    }
                                                                       
                                    <RadzenButton Icon="print" Text="Print" Click="@(() => PrintPR(pr.Id))"/>
                                </RadzenColumn>
                            </RadzenRow>
                            <RadzenRow AlignItems="AlignItems.Start" Style="width:100%;">
                                <RadzenColumn Size="12" SizeMD="3" SizeLG="3">
                                    <RadzenLabel Text="" />
                                </RadzenColumn>
                                <RadzenColumn Size="12" SizeMD="9" SizeLG="9">
                                    
                                </RadzenColumn>
                            </RadzenRow>

                        </RadzenCard>
                       
                    </RadzenStack>
                    @* <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenRow AlignItems="AlignItems.Start" Style="width:100%">
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenLabel Text="Location" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="10" SizeLG="10">
                                <RadzenLabel Text="@project.geodata.address" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack> *@
                    <RadzenRow class="mt-3">
                        <RadzenStack Orientation="Orientation.Vertical" Gap="0.75rem" JustifyContent="JustifyContent.Left">
                            @{
                                if (pr.submitted == 0)
                                {
                                    <RadzenButton Icon="add" Text="Add Item" ButtonStyle="ButtonStyle.Primary" style="width: 140px" Click="@AddItems" />
                                }
                            }
                            

                            <RadzenDataGrid Data="@pr.items" GridLines="DataGridGridLines.Both" AllowColumnResize="true" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Right" PagerPosition="PagerPosition.Bottom"
                                        TItem="PRItemModel" Density="Density.Compact" Context="workitem" @ref="prItemsGrid" LoadData="@LoadData"
                                        SelectionMode="DataGridSelectionMode.Multiple" AllowRowSelectOnRowClick="false">

                                <Columns>  
                                    <RadzenDataGridColumn TItem="PRItemModel" Property="Id" Title="#" Frozen="false" Width="50px" TextAlign="TextAlign.Center">
                                        <Template Context="data">
                                            @(pr.items.IndexOf(data) + 1)
                                        </Template>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="PRItemModel" Property="item" Title="Item" Frozen="false" Width="400px" />
                                    <RadzenDataGridColumn TItem="PRItemModel" Property="description" Title="Description" Frozen="false" />
                                    <RadzenDataGridColumn TItem="PRItemModel" Property="quantity" Title="Quantity" TextAlign="TextAlign.Center" Frozen="false" Width="120px" />
                                    <RadzenDataGridColumn TItem="PRItemModel" Property="unitcost" Title="Unit Cost" TextAlign="TextAlign.Center" Frozen="false" Width="120px" >
                                         <Template Context="detail">
                                            <div style="text-align: right">
                                                @String.Format("{0:n2}", detail.unitcost)
                                            </div>
                                        </Template>
                                        <FooterTemplate>
                                                @{
                                                    if (pr.items != null)
                                                    {
                                                        <div style="text-align:right">
                                                             <b>TOTAL :</b>
                                                        </div>
                                                    }
                                                }
                                        </FooterTemplate>
                                    </RadzenDataGridColumn>
                                    <RadzenDataGridColumn TItem="PRItemModel" Title="Amount" TextAlign="TextAlign.Center" Width="130px">
                                        <Template Context="detail">
                                            <div style="text-align: right">
                                                @String.Format("{0:n2}", detail.unitcost * detail.quantity)
                                            </div>
                                        </Template>
                                        <FooterTemplate>
                                                @{
                                                    if (pr.items != null)
                                                    {
                                                        <div style="text-align:right">
                                                             <b>@String.Format("{0:n2}", pr.items.Sum(o => o.unitcost * o.quantity))</b>
                                                        </div>
                                                    }
                                                }
                                        </FooterTemplate>
                                    </RadzenDataGridColumn>
                                    @{
                                        if (pr.submitted == 0)
                                        {
                                            <RadzenDataGridColumn TItem="PRItemModel" Context="order" Filterable="false" Width="100px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                <Template Context="data">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="edit" Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => EditQuantity(data.Id))" Size="ButtonSize.Small" class="my-1 ms-1" />
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => DeletePRItem(data.Id))" Size="ButtonSize.Small" class="my-1 ms-1" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        }
                                        else
                                        {
                                            <RadzenDataGridColumn TItem="PRItemModel" Context="order" Filterable="false" Width="0px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                <Template Context="data">
                                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Small" class="my-1 ms-1" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                        }
                                    }
                                    

                                </Columns>
                            </RadzenDataGrid> 
                        </RadzenStack>
                    </RadzenRow>
                </RadzenStack>
            </RadzenCard>

        </div>
    }
}

