
@page "/Project/Details/{projectid}"

@inject HttpClient httpClient
@inject DialogService DialogService
@using IMS.Shared.Models
@inject NotificationService NotificationService
@inject NavigationManager navigationManager
@using IMS.Client.Pages.PR
@using IMS.Client.Pages.PO
@using IMS.Client.Pages.Voucher
@inject IJSRuntime JSRuntime


<div class="col-md-12 col-lg-12 mb-3" style="width:100%">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Icon="home" Text="Home" />
            <RadzenBreadCrumbItem Icon="settings" Text="Project" />
            <RadzenBreadCrumbItem Icon="settings" Text="Details" />
        </RadzenBreadCrumb>
    </RadzenCard>
</div>

@{
    if (project != null)
    {
        <div class="col-md-12 col-lg-12">
            <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white col-md-12 col-lg-12 p-4">
                <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
                    <RadzenText class="mb-1"><h5>Project Details</h5></RadzenText>
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start">
                        <RadzenRow AlignItems="AlignItems.Start" Style="width:100%">
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenLabel Text="Project Title" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="10" SizeLG="10">
                                <RadzenLabel Text="@project.projectname" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenRow AlignItems="AlignItems.Start" Style="width:100%">
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">
                                <RadzenLabel Text="Location" />
                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="10" SizeLG="10">
                                <RadzenLabel Text="@project.geodata.address" />
                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenRow AlignItems="AlignItems.Start" Style="width:100%">
                            <RadzenColumn Size="12" SizeMD="2" SizeLG="2">

                            </RadzenColumn>
                            <RadzenColumn Size="12" SizeMD="10" SizeLG="10" styl>
                                <RadzenButton Icon="print" ButtonStyle="ButtonStyle.Primary" Text="Print" Click="@PrintProject" />

                            </RadzenColumn>
                        </RadzenRow>
                    </RadzenStack>
                    <RadzenRow class="mt-3">

                        <RadzenTabs Style="width:100%">
                            <Tabs>
                                <RadzenTabsItem Icon="construction" Text="Work Items">
                                    <RadzenStack Orientation="Orientation.Vertical" Gap="0.75rem" JustifyContent="JustifyContent.Left">
                                        <RadzenButton Icon="add" Text="Add Work Item" ButtonStyle="ButtonStyle.Primary" style="width: 170px" Click="@AddWorkItem" />

                                        <RadzenDataGrid Data="@project.workitems" GridLines="DataGridGridLines.Both" AllowColumnResize="true" AllowSorting="true" PageSize="10" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Right" PagerPosition="PagerPosition.Bottom"
                                                        TItem="WorkItemModel" Density="Density.Compact" Context="workitem" @ref="workitemGrid" LoadData="@LoadData"
                                                        SelectionMode="DataGridSelectionMode.Multiple" AllowRowSelectOnRowClick="false">

                                            <Template Context="material">
                                                <RadzenCard Variant="Variant.Outlined" class="rz-background-color-white m-1 p-1">
                                                    <h5 class="ps-3 pt-2">@material.itemno @material.description</h5>
                                                    <RadzenTabs>
                                                        <Tabs>
                                                            <RadzenTabsItem Icon="construction" Text="Materials">
                                                                <RadzenButton class="mb-2" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Shade="Shade.Dark" Click="@(() => AddMaterial(material.Id))">Add Material</RadzenButton>
                                                                <RadzenDataGrid AllowPaging="true" AllowSorting="true" GridLines="DataGridGridLines.Both" PageSize="10" Data="@material.materials" TItem="MaterialsModel" LoadData="@LoadData" @ref="materialsGrid">
                                                                    <Columns>
                                                                        @{
                                                                            if (material.materials != null)
                                                                            {
                                                                                <RadzenDataGridColumn Width="60px" TItem="MaterialsModel" Title="No." Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                                                    <Template Context="data">
                                                                                        @(material.materials.IndexOf(data) + 1)
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Property="item" Title="Material" />
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Property="description" Title="Description" />
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Property="unit" Title="Unit" Width="110px" TextAlign="TextAlign.Center" />
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Property="unitcost" Title="Unit Cost" TextAlign="TextAlign.Center" Width="130px">
                                                                                    <Template Context="data">
                                                                                        <div style="text-align: right">
                                                                                            @String.Format("{0:n2}", data.unitcost)
                                                                                        </div>
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Property="quantity" Title="Quantity" TextAlign="TextAlign.Center" Width="110px" />
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Property="amount" Title="Amount" Width="220px" TextAlign="TextAlign.Center">
                                                                                    <Template Context="detail">
                                                                                        <div style="text-align: right">
                                                                                            @String.Format("{0:n2}", detail.amount)
                                                                                        </div>
                                                                                    </Template>
                                                                                    <FooterTemplate>
                                                                                        @{
                                                                                            if (material.materials.Sum(o => o.amount) != null)
                                                                                            {
                                                                                                <div style="text-align:right">
                                                                                                    Total : <b>@String.Format("{0:n2}", material.materials.Sum(o => o.amount))</b>
                                                                                                </div>
                                                                                            }
                                                                                        }

                                                                                    </FooterTemplate>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="MaterialsModel" Filterable="false" Width="80px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                                                    <Template Context="data">
                                                                                        <RadzenButton Click="@(() => UpdateQuantity(material.Id, data))" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" />
                                                                                        <RadzenButton Click="@(() => RemoveItem(material.Id, data.Id, "materials"))" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Small" class="my-1 ms-1" />
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                            }
                                                                        }
                                                                    </Columns>
                                                                </RadzenDataGrid>
                                                            </RadzenTabsItem>
                                                            <RadzenTabsItem Icon="front_loader" Text="Equipment">
                                                                <RadzenButton class="mb-2" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Shade="Shade.Dark" Click="@(() => AddEquipment(material.Id))">Add Equipment</RadzenButton>
                                                                <RadzenDataGrid AllowPaging="true" AllowSorting="true" GridLines="DataGridGridLines.Both" PageSize="10" Data="@material.equipment" TItem="EquipmentModel" @ref="equipmentGrid">
                                                                    <Columns>
                                                                        @{
                                                                            if (material.equipment != null)
                                                                            {
                                                                                <RadzenDataGridColumn Width="60px" TItem="EquipmentModel" Title="No." Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                                                    <Template Context="data">
                                                                                        @(material.equipment.IndexOf(data) + 1)
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="item" Title="Equipment" />
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="description" Title="Description" />
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="unit" Title="Unit" Width="110px" TextAlign="TextAlign.Center" />
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="unitcost" Title="Rate" TextAlign="TextAlign.Center" Width="130px">
                                                                                    <Template Context="detail">
                                                                                        <div style="text-align: right">
                                                                                            @String.Format("{0:n2}", detail.unitcost)
                                                                                        </div>
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="quantity" Title="Quantity" TextAlign="TextAlign.Center" Width="110px" />
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="hours" Title="Hours" TextAlign="TextAlign.Center" Width="110px" />
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Property="amount" Title="Amount" Width="220px" TextAlign="TextAlign.Center">
                                                                                    <Template Context="detail">
                                                                                        <div style="text-align: right">
                                                                                            @String.Format("{0:n2}", detail.amount)
                                                                                        </div>
                                                                                    </Template>
                                                                                    <FooterTemplate>
                                                                                        @{
                                                                                            if (material.equipment != null)
                                                                                            {
                                                                                                <div style="text-align:right">
                                                                                                    Total : <b>@String.Format("{0:n2}", material.equipment.Sum(o => o.amount))</b>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                    </FooterTemplate>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="EquipmentModel" Filterable="false" Width="80px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                                                    <Template Context="data">
                                                                                        <RadzenButton Click="@(() => UpdateEquipment(material.Id, data))" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" />
                                                                                        <RadzenButton Click="@(() => RemoveItem(material.Id, data.Id, "equipment"))" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Small" class="my-1 ms-1">
                                                                                        </RadzenButton>
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                            }
                                                                        }
                                                                    </Columns>
                                                                </RadzenDataGrid>
                                                            </RadzenTabsItem>
                                                            <RadzenTabsItem Icon="engineering" Text="Labor">
                                                                <RadzenButton class="mb-2" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small" Shade="Shade.Dark" Click="@(() => AddLabor(material.Id))">Add Labor</RadzenButton>
                                                                <RadzenDataGrid AllowPaging="true" AllowSorting="true" GridLines="DataGridGridLines.Both" PageSize="10" Data="@material.labor" TItem="LaborModel" @ref="laborGrid">
                                                                    <Columns>

                                                                        @{
                                                                            if (material.labor != null)
                                                                            {
                                                                                <RadzenDataGridColumn Width="60px" TItem="LaborModel" Title="No." Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                                                    <Template Context="data">
                                                                                        @(material.labor.IndexOf(data) + 1)
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="item" Title="Labor" />
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="description" Title="Description" />
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="unit" Title="Unit" Width="110px" TextAlign="TextAlign.Center" />
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="unitcost" Title="Rate" TextAlign="TextAlign.Center" Width="130px">
                                                                                    <Template Context="detail">
                                                                                        <div style="text-align: right">
                                                                                            @String.Format("{0:n2}", detail.unitcost)
                                                                                        </div>
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="quantity" Title="Quantity" TextAlign="TextAlign.Center" Width="110px" />
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="days" Title="Days" TextAlign="TextAlign.Center" Width="110px" />
                                                                                <RadzenDataGridColumn TItem="LaborModel" Property="amount" Title="Amount" Width="220px" TextAlign="TextAlign.Center">
                                                                                    <Template Context="detail">
                                                                                        <div style="text-align: right">
                                                                                            @String.Format("{0:n2}", detail.amount)
                                                                                        </div>
                                                                                    </Template>
                                                                                    <FooterTemplate>
                                                                                        @{
                                                                                            if (material.labor != null)
                                                                                            {
                                                                                                <div style="text-align:right">
                                                                                                    Total : <b>@String.Format("{0:n2}", material.labor.Sum(o => o.amount))</b>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                    </FooterTemplate>
                                                                                </RadzenDataGridColumn>
                                                                                <RadzenDataGridColumn TItem="LaborModel" Filterable="false" Width="80px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                                                    <Template Context="data">
                                                                                        <RadzenButton Click="@(() => UpdateLabor(material.Id, data))" Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" />
                                                                                        <RadzenButton Click="@(() => RemoveItem(material.Id, data.Id, "labor"))" ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Small" class="my-1 ms-1">
                                                                                        </RadzenButton>
                                                                                    </Template>
                                                                                </RadzenDataGridColumn>
                                                                            }
                                                                        }
                                                                    </Columns>
                                                                </RadzenDataGrid>
                                                            </RadzenTabsItem>
                                                        </Tabs>
                                                    </RadzenTabs>
                                                </RadzenCard>

                                            </Template>

                                            <Columns>
                                                <RadzenDataGridColumn Width="60px" TItem="WorkItemModel" Title="No." Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                    <Template Context="data">
                                                        @(project.workitems.IndexOf(data) + 1)
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Property="itemno" Title="Item No." Frozen="false" Width="100px" />
                                                <RadzenDataGridColumn TItem="WorkItemModel" Property="description" Title="Description">
                                                    <FooterTemplate>
                                                        Total Amount
                                                    </FooterTemplate>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Property="totalmaterials" TextAlign="TextAlign.Center" Title="Materials" HeaderCssClass="text-align:center" Width="150px" FormatString="{0:n2}">
                                                    <Template Context="data">
                                                        <div style="text-align:right">
                                                            @string.Format("{0:n2}", data.totalmaterials)
                                                        </div>
                                                    </Template>
                                                    <FooterTemplate>
                                                        <div style="text-align:right">
                                                            @{
                                                                if (project.workitems != null)
                                                                {
                                                                    <b>@string.Format("{0:n2}", project.workitems.Sum(q => q.totalmaterials))</b>
                                                                }
                                                            }
                                                        </div>
                                                    </FooterTemplate>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Property="totalequipment" TextAlign="TextAlign.Center" Title="Equipment" HeaderCssClass="text-align:center" Width="150px" FormatString="{0:n2}">
                                                    <Template Context="data">
                                                        <div style="text-align:right">
                                                            @string.Format("{0:n2}", data.totalequipment)
                                                        </div>
                                                    </Template>
                                                    <FooterTemplate>
                                                        <div style="text-align:right">
                                                            @{
                                                                if (project.workitems != null)
                                                                {
                                                                    <b>@string.Format("{0:n2}", project.workitems.Sum(q => q.totalequipment))</b>
                                                                }
                                                            }
                                                        </div>
                                                    </FooterTemplate>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Property="totallabor" TextAlign="TextAlign.Center" Title="Labor" HeaderCssClass="text-align:center" Width="150px" FormatString="{0:n2}">
                                                    <Template Context="data">
                                                        <div style="text-align:right">
                                                            @string.Format("{0:n2}", data.totallabor)
                                                        </div>
                                                    </Template>
                                                    <FooterTemplate>
                                                        <div style="text-align:right">
                                                            @{
                                                                if (project.workitems != null)
                                                                {
                                                                    <b>@string.Format("{0:n2}", project.workitems.Sum(q => q.totallabor))</b>
                                                                }
                                                            }
                                                        </div>
                                                    </FooterTemplate>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Property="totalamount" TextAlign="TextAlign.Center" Title="Amount" HeaderCssClass="text-align:center" Width="100px" FormatString="{0:n2}">
                                                    <Template Context="data">
                                                        <div style="text-align:right">
                                                            @string.Format("{0:n2}", data.totalamount)
                                                        </div>
                                                    </Template>
                                                    <FooterTemplate>
                                                        <div style="text-align:right">
                                                            @{
                                                                if (project.workitems != null)
                                                                {
                                                                    <b>@string.Format("{0:n2}", project.workitems.Sum(q => q.totalamount))</b>
                                                                }
                                                            }
                                                        </div>
                                                    </FooterTemplate>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Context="order" Filterable="false" Width="80px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                    <Template Context="data">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="print" Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => PrintWorkItemsDetails(data.Id))" Size="ButtonSize.Small" class="my-1 ms-1">
                                                        </RadzenButton>
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn TItem="WorkItemModel" Context="order" Filterable="false" Width="80px" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                                                    <Template Context="data">
                                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Click="@(() => DeleteWorkItem(data.Id))" Size="ButtonSize.Small" class="my-1 ms-1">
                                                        </RadzenButton>
                                                    </Template>
                                                </RadzenDataGridColumn>

                                            </Columns>
                                        </RadzenDataGrid>


                                    </RadzenStack>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="shopping_cart" Text="Purchae Request">
                                    <CascadingValue Value="@prview" Name="PRViewKey">
                                        @{
                                            if (!prview.openpr)
                                            {
                                                <ProjectPR projectname="@project.projectname" projectid="@project.Id" projectview="true" OnDetailsView="@OnDetailsViewFromChild" />
                                            }
                                            else
                                            {
                                                <PRDetails projectview="true" prid="@prview.prid" OnDetailsView="@OnDetailsViewFromChild" />
                                            }
                                        }
                                    </CascadingValue>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="inventory_2" Text="Purchase Order">
                                    <CascadingValue Value="@poview" Name="POViewKey">
                                        @{
                                            if (!poview.openpo)
                                            {
                                                <POList projectid="@project.Id" projectviewpo="true" OnDetailsViewPO="@OnDetailsViewPOFromChild" />
                                            }
                                            else
                                            {
                                                <PODetails prid="@poview.prid" projectviewpo="true" poid="@poview.poid" OnDetailsViewPO="@OnDetailsViewPOFromChild" />
                                            }
                                        }
                                    </CascadingValue>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="receipt" Text="Voucher">
                                    <CascadingValue Value="@cvview" Name="CVViewKey">
                                        @{
                                            if (!cvview.opencv)
                                            {
                                                <VoucherList projectid="@project.Id" projectviewcv="true" OnDetailsViewCV="@OnDetailsViewCVFromChild" />
                                            }
                                            else
                                            {
                                                <CVDetails projectviewcv="true" poid="@cvview.cvid" OnDetailsViewCV="@OnDetailsViewCVFromChild" />
                                            }
                                        }
                                    </CascadingValue>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>


                    </RadzenRow>
                </RadzenStack>
            </RadzenCard>

            @* <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white p-3">
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceEvenly" Gap="0.5rem">

                        <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white  col-md-6 col-lg-6">
                            <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
                                <RadzenText>Work Item Details</RadzenText>
                                <RadzenTabs RenderMode="TabRenderMode.Client">
                                    <Tabs>
                                        <RadzenTabsItem Icon="" Text="Materials">
                                            Materials
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Text="Equipment">
                                            Equipment
                                        </RadzenTabsItem>
                                        <RadzenTabsItem Text="Labor">
                                            Labor
                                        </RadzenTabsItem>
                                    </Tabs>
                                </RadzenTabs>
                            </RadzenStack>
                        </RadzenCard>
                    </RadzenStack>
                </RadzenCard> *@
        </div>
    }
}
