@using IMS.Shared.Models
@inject Radzen.DialogService DialogService
@inject HttpClient httpClient
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager


@page "/User"

<div class="col-md-12 col-lg-12 mb-3">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Icon="home" Path="/" Text="Home" />
            <RadzenBreadCrumbItem Icon="settings" Path="/PO/POList" Text="Purchase Order" />
            <RadzenBreadCrumbItem Icon="settings" Path="/PO/POList" Text="Index" />
        </RadzenBreadCrumb>
    </RadzenCard>
</div>

<div class="col-md-12 col-lg-12">
    <RadzenCard Variant="Variant.Outlined" Class="rz-background-color-white">
        <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
            <RadzenRow>
                <RadzenStack class="mb-2" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenButton Icon="add" Text="Menu" Click=@NewUser />
                    @* <RadzenTextBox Placeholder="Search..." @oninput="@(args => OnSearch(args.Value.ToString()))" /> *@
                </RadzenStack>
                
                <RadzenDataGrid @ref="grid" AllowFiltering="true" AllowSorting="true" AllowColumnResize="true" GridLines="DataGridGridLines.Both"
                                Data="@users" TItem="UserModel" Density="Density.Compact">
                    <Columns>
                        <RadzenDataGridColumn TItem="UserModel" Property="username" Title="" Sortable="false" Filterable="false" Width="50px" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                @(users.IndexOf(data) + 1)
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="UserModel" Property="username" Title="Username" Sortable="false" Filterable="false"/>
                        <RadzenDataGridColumn TItem="UserModel" Property="firstname" Title="Firstname" Sortable="false" Filterable="false"/>
                        <RadzenDataGridColumn TItem="UserModel" Property="lastname" Title="Lastname" Sortable="false" Filterable="false"/>
                        <RadzenDataGridColumn TItem="UserModel" Property="role" Title="Role" Sortable="false" Filterable="false"/>

                        <RadzenDataGridColumn TItem="UserModel" Width="80px" Frozen="true" Filterable="false" TextAlign="TextAlign.Center">
                            <Template Context="data">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Primary" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Shade="Shade.Lighter" Click="@(() => DeleteUser(data.Id))"/>
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Filled" Size="ButtonSize.ExtraSmall" Shade="Shade.Lighter" Click="@(() => DeleteUser(data.Id))"/>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenRow>
        </RadzenStack>
    </RadzenCard>
</div>
